---
import "../styles/global.css";
import Navbar from "../components/Navbar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="../../public/mrizalr-logo-simple.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Beranda | mrizalr</title>
  </head>
  <body>
    <header class="w-screen fixed top-0 left-0 right-0">
      <Navbar client:only />
    </header>
    <section class="mt-[70px]"></section>
  </body>
</html>
